
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@font-face {
    font-family: 'PT Sans Caption';
    src: url('../fonts/PTSans-Caption.woff2') format('woff2'),
        url('../fonts/PTSans-Caption.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans Caption';
    src: url('../fonts/PTSans-CaptionBold.woff2') format('woff2'),
        url('../fonts/PTSans-CaptionBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Parangon 530C';
    src: url('../fonts/Parangon530C.woff2') format('woff2'),
        url('../fonts/Parangon530C.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/Futura-Bold.woff2') format('woff2'),
        url('../fonts/Futura-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura Md BT';
    src: url('FuturaBT-Medium.woff2') format('woff2'),
        url('../fonts/Futura-Bold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

body{
    font: 400 16px/1.6 Arial, sans-serif;
    color: #ffffff;
    margin: 0;

}
.container{
    width: 1245px;
    margin: 0 auto;
}

/* one */


.one_section{
    padding: 50px 20px;
    background: url('../img/sec-one.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-blend-mode: luminosity; */
}
.row.text__center {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.heading-one{
    font-family: 'Parangon 530C';
    max-height: 1100px;
    margin-top: 200px;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 72px;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin-bottom: 50px;
}
.heading-two{
    font-family: 'PT Sans Caption', sans-serif;
    max-height: 830px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0.2em;
    margin-bottom: 70px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.card > .col-33:nth-child(2){
    margin: 0 60px;
}

.col-33{
    border-left: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    width: 250px;
    height: 160px;
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}
.card__logo{
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, -50%);
    
   
}
.col-33::before{
    content:'';
    display: block;
    width: 100px;
    height: 4px;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
}
.col-33::after{
    content:'';
    display: block;
    width: 100px;
    height: 4px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
}
.one__item{
    font-family: 'PT Sans Caption', sans-serif;
    text-transform: uppercase;
}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 120px;
}
.card-title{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 48px;
    line-height: 72px;
    font-weight: 400;
    letter-spacing: 0.05em;
}

/* two */

.nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.nav-title{
    display: flex;
    margin: 40px 200px 40px 0;
}
.nav-title li{
    list-style: none;
}
.nav-title li a{
    font-family: 'PT Sans Caption', sans-serif;
    text-decoration: none;
    color: black;
    padding-right: 40px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0.05em;
}
.nav-title li a:hover{
    color: #f6ae48;
    transition: linear .3s;
}

/* tree */

.three-section{
    color: #000000;
}
.row.row-trhree{
    justify-content: center;
}
.three-blok__one{
    margin-top: 170px;
    margin-bottom: 225px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.three-blok__one::before{
    content: 'WE';
    display: block;
    top: 0;
    right: 370px;
    opacity: 0.18;
    font-family: Tahoma;
    font-size: 340px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #c1c1c1;
    position: absolute;
}
.col-30{
    width: 30%;
    display: flex;
    align-items: center;
}
.thre-heading{
font-size: 48px;
line-height: 30px;
font-weight: 700;
letter-spacing: 0.05em;
}
.col-70{
    width: 70%;
}
.heading-info{
opacity: 0.8;
font-family: Arial;
font-size: 20px;
line-height: 30px;
font-weight: 400;
letter-spacing: 0.05em;
}

.threee-block__two{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 225px;
}
.col-30{
    display: flex;
    flex-direction: column;   
    align-items: flex-start
}
.heading-block__two{
    margin: 15px 0;
    font-family: Arial;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 0.05em;
   
}
.block-two__item{
    font-family: Arial;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}
.one-padding{
    padding: 0 40px;
}
.two-padding{
padding-right: 41px;
}
.img-three{
    height: 50px;
}
.yellow{
    background-color: #f6ae48;
    padding: 13px 25px 20px;
    color: white;
}
.yellow .block-two__item{
    margin-bottom: 25px;
}
.three-block__footer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.button{
    color: white;
    border: 2px solid white;
    text-decoration: none;
    padding: 5px 20px;
}
.arrow{
    padding-right: 15px;
}



/* section-four */



.section-four{
    background: url(../img/four.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.four-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fot-heading{
    font-family: 'Exo 2', sans-serif;
    font-size: 50px;
    line-height: 48px;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 110px 0 70px;
}

.heading-item{
    max-width: 1145px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin-bottom: 160px;
}

/* section-five */
.section-five{
    position: relative;
}
.img-left{
    position: absolute;
    left: 0;
    top: -300px;
    z-index: 99;
}
.box-five{
    position: relative;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    margin-top: 210px;
}
.box-col{
    width: 363px;
    height: 315px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items:center;

}
.box-col::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: .6;
    
}
.col-1{
    background: url('../img/1.jpg');
}
.col-2{
    background: url('../img/2.jpg');
    margin: 0 15px;
}
.col-3{
    background: url('../img/3.jpg')
}
.five-heading{
    font-family: 'Futura';
    font-size: 50.6px;
    line-height: 48px;
    letter-spacing: 0.05em;
    margin: 75px 73px 65px 35px;
    position: relative;
}
.five-heading::before{
    content: '';
    position: absolute;
    bottom: -15px;
    background-color: #fff;
    width: 260px;
    height: 1px;
   
}
.five-a{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: space-around;
    margin-left: -30px;
    width: 100%;

}
.button-five{
    display: inline-block;
    padding: 10px 25px;
    border: 3px solid #166f83;
}

.button-five__yellow{
    border: 3px solid #ffcb00;
}
.button-five__green{
    border: 3px solid #66bf0d;
}
/* section-six */
.six-rel{
    flex-direction: column;
}
.google{
    margin-bottom: 30px;
}
.yandex{
    margin-bottom: 120px;
}

/* section-seven */
.bg-seven{
    position: absolute;
    top: -18px;
    left: -61px;
    z-index: -1;
}
.seven-box{
position: relative;
}
.section-seven{
    position: relative;
}
.section-9{
    position: absolute;
    right: 0;
    top: -30%;
}


.seven-rel{
   position: relative;
}

/* section-nine */

.section-nine, .section-seven, .section-six{
    color: black;
}
.nine-box, .seven-box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    margin-bottom: 250px;
}
.col-60{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-col__60{
    max-width: 600px;
    position: relative;
    z-index: 1;
}
.bg-nine{
    position: absolute;
    top: -14px;
    left: -33px;
    z-index: -1;
}

.col-40{
    width: 40%;
    display: flex;
    align-items:center;
    justify-content: center;
}
.nine-title, .seven-title{
    font-family: 'Parangon 530C';
    font-size: 36px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.nine-item, .seven-item{
    font-family: Arial;
    font-size: 24px;
    line-height: 48px;
    font-weight: 700;
    
}
/* footer */

.footer{
    background: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-block{
    display: flex;
    flex-wrap: wrap;
}
.col-50{
    display: flex;
    width: 50%;
    flex-direction: column;
}
.col-50.text__center{
    align-items:center;
    justify-content: center;
    
}
.footer-heading{
    margin-top: 130px;
    margin-bottom: 60px;
    font-family: 'Parangon 530 C', sans-serif;
    font-size: 30px;
    line-height: 72px;
    font-weight: 400;
    letter-spacing: 0.05em;
    font-weight: bold;
}
.footer-item{
    margin-bottom: 205px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 0.06em;
    max-width: 360px;
}
.form-block{
    margin-top: 150px;
}

form{
    width: 610px;
    border: 2px solid white;
}
.form-row{  
    display: flex;
}

.coll-50{
width: 50%;
height: 45px;
border: 2px solid white;
}
.coll-100{
    width: 100%;
    height: 45px;
    border: 3px solid white;
}
.coll-textarea{
    width: 100%;
    height: 155px;
    border: 3px solid white;
}

.form-block input, .form-block textarea{
    background: transparent;
    border: 3px solid white;
    outline: none;
}

input::placeholder, textarea::placeholder{
    padding-left: 20px;
    padding-top: 10px;
    font-family: Arial;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #ffffff;
}
input, textarea{
    padding-left: 20px;
    padding-top: 5px;
    font-family: Arial;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #ffffff;
}

input:focus::placeholder, textarea:focus::placeholder{
    font-size: 0;
    transition: linear 0.3s;
}

.forma-bottom{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
.fom-item{
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.form-button{
    padding: 20px 50px;
    font-family: 'Parangon 530 C';
    font-size: 14px;
    letter-spacing: 0.05em;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #f6ae48;
    text-decoration: none;
    color:white;}


/* orange */

.orange{
    background-color: #f6ae48;
    height: 110px;
}
/* .two-section, .three-section, .section-seven, .section-nine, .footer, .orange{
    border-left: 1px solid #f6ae48;
    border-right: 1px solid #f6ae48;
}     */